.custom-calendar .jjxnOy {
    box-shadow: none;
    padding: 0px !important;
    min-width: auto !important;
}

.custom-calendar .eTvjeY {
    :hover {
        border-color: #00adb580
    }
}

.custom-calendar .dGYNXH {
    background-color: #00adb5;
    border: 0px;
}

.custom-calendar .kNnvYN {
    :hover {
        border-color: #00adb580
    }
}

.custom-calendar .iNDSBv {
    :hover {
        border-color: #00adb580
    }
}

.custom-calendar .hSFEkj {
    :hover {
        border-color: #00adb580
    }
}

.css-1q60rmi-MuiAutocomplete-endAdornment {
    display: none !important;
}

.MuiOutlinedInput-root {
    padding: 0px !important;
}